body {
  font-size: 8px;
}
header {
  padding-top: 1em;
  font-size: 2em;
}
header>div {
  margin-right: 1em;
}
h1 {
  font-size: 8em;
}
.ictr {
  margin: 0 2em;
}
@media (orientation: landscape) {
  footer,.itm {
    width: calc(50vw - 2em);
  }
}
@media (orientation: portrait) {
  footer,.itm {
    width: calc(100vw - 4em);
  }
}
#_mctr,.itml {
  width: calc(100vw - 4em);
}
.cta>span:last-child {
  font-size: 1.5em;
}
.api {
  font-size: 6em;
}
#_mctr>div:last-child, .itml {
  flex-direction: column;
}
